.room_book_item {
  width: 100%;
  height: auto;
  position: relative;
  .room_book_img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
    img {
      width: 80%;
      height: auto;
      max-width: 340px;
      max-height: 200px;
      &:hover {
        transform: scaleY(1.25);
        transition: 0.5s ease-in-out;
      }
    }
  }
  .room_booking_right_side {
    padding: 5%;
    .room_person_select {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
      border: 1px solid blue;
      border-radius: 10px;
      // border-bottom: 1px solid blue;
      .room_booking_table {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: baseline;
        border-bottom: 1px solid blue;

        &:last-child {
          border-bottom: none;
        }
        .room_booking_table_info {
          display: flex;
          flex-direction: row;
          width: 480px;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;

          .info_item {
            font-size: 18px;
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
              "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
            font-weight: 700;
            font-style: oblique;
          }
          .info_type {
            font-size: 14px;
            font-weight: 500;
            color: blue;
          }
          .select_room {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
  .booking_button {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    max-width: 150px;
    height: 40px;
  }
}
// .roomdetails {
//     padding: 50px 0px;
//     height: 400px;
//     border-top: 1px solid lightgray;

//     .type {
//       display: flex;
//       flex-direction: row;
//       align-content: flex-end;
//       justify-content: space-around;
//       margin: 10px 0px;
//     }
//     .state {
//       display: flex;
//       justify-content: space-between;
//       margin: 10px 100px;
//     }
//     .description {
//       display: flex;
//       flex-direction: row;
//       flex-wrap: wrap;
//       justify-content: stretch;
//       box-sizing: border-box;
//       width: 90%;
//       margin: 10px auto;
//     }
//     .price {
//       display: flex;
//       align-items: center;
//       width: 90%;
//       margin: 10px auto;
//       flex-direction: row;
//       justify-content: space-between;
//       span {
//         display: flex;
//         margin: 10px;
//         height: 70px;
//         flex-direction: column;
//         align-content: center;
//         justify-content: space-between;
//         &:last-child {
//           display: flex;
//           margin: 0px 30px;
//         }
//       }
//     }
//   }
