// .Result_Hotel_Component {
//   display: flex;
//   width: 250px;
//   .theme_common_box_two {
//     border-radius: 0.7rem;
//     overflow: hidden;
//     border: 0.07rem solid #d2d2d275;
//     transition: 0.4s all ease-in-out;
//     margin-bottom: 1.875rem;

//     &:hover {
//       box-shadow: 4px 14px 28px rgba(0, 0, 0, 0.1);
//     }
//     .theme_two_box_img {
//       position: relative;
//       overflow: hidden;
//       img {
//         width: 100%;
//       }
//       .Loader {
//         width: 100%;
//         height: 165px;
//         section {
//           height: 100%;
//         }
//       }
//       p {
//         color: #8b3eea;
//         position: absolute;
//         bottom: 4px;
//         left: 13px;
//         font-size: 14px;
//       }
//     }
//     .theme_two_box_content {
//       background: #fff;
//       padding: 20px 15px;
//       position: relative;
//       height: 250px;
//       h4 {
//         a {
//           color: black;
//         }
//       }
//       p {
//         display: flex;
//         flex-direction: column;
//         flex-wrap: nowrap;
//         padding: 10px 0px;
//         font-size: 14px;
//         .review_rating {
//           color: #8b3eea;
//         }
//         .review_count {
//         }
//       }
//       h3 {
//         font-weight: 500;
//         span {
//           gap: 10px;
//           font-weight: 400;
//           font-size: 14px;
//         }
//         .price {
//         }
//         .price_start {
//         }
//       }
//     }
//     .theme_two_box_button {
//       width: 100%;
//       button {
//         display: flex;
//         color: rgb(37, 108, 201);
//         justify-content: center;
//         width: 50%;
//         margin: 0 auto;
//       }
//     }
//   }
// }
.cruise_search_item {
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid rgba(221, 221, 221, 0.5);
  border-radius: 20px;
  .cruise_item_img,
  .cruise_item_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    img {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 100%;
    }
  }
  .cruise_item_inner_content {
    padding: 15px 20px 22px 0px;
    .cruise_content_top_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .cruise_content_top_left {
        h4,
        p {
          font-size: 20px;
          font-weight: 500;
          padding-top: 8px;
          font-family: "Roboto", sans-serif;
        }
        h4 {
          color: #8b3eea;
        }
      }
      .cruise_content_top_right {
        h5 {
          font-size: 16px;
          color: var(--main-color);
          font-weight: 500;
        }
        h4 {
          font-size: 16px;
          padding-top: 5px;
        }
      }
    }
    .cruise_content_middel_wrapper {
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .cruise_content_bottom_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 23px;
      .cruise_content_bottom_left {
        ul {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: flex-start;
          align-items: baseline;

          li {
            background: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 20px;
            display: inline-block;
            padding: 3px 14px;
            font-size: 14px;
            color: var(--black-color);
            margin-right: 10px;
            text-align: center;
          }
        }
      }
      .cruise_content_bottom_right {
        border: none;
        background-color: transparent;
        .btn {
          &:hover {
            color: #ffffff;
          }
        }
        .btn_md {
          padding: 12px 35px;
          font-size: 18px;
        }
        .btn_theme {
          color: #ffffff;
          background-color: #8b3eea;
          transition: 0.4s all ease-in-out;
          box-shadow: none;
          overflow: hidden;
          white-space: nowrap;
          position: relative;
          z-index: 0;
          border: none;
          &:hover:before {
            -webkit-transition: -webkit-transform 1s;
            transition: -webkit-transform 1s;
            transition: transform 1s;
            transition: transform 1s, -webkit-transform 1s;
            -webkit-transform: translateX(-45%) translateY(0) scale(1);
            transform: translateX(-50%) translateY(0) scale(1);
            -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
            border: none;
          }
          &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            width: 580px;
            height: 550px;
            margin: auto;
            background-color: #2b2540;
            border-radius: 50%;
            z-index: -1;
            -webkit-transform-origin: top center;
            transform-origin: top center;
            -webkit-transform: translateX(-50%) translateY(-5%) scale(0.4);
            transform: translateX(-50%) translateY(-5%) scale(0.4);
            transition: 0.4s all ease-in-out;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .cruise_content_top_wrapper {
    display: inherit;
    .cruise_content_top_right {
      padding-top: 10px;
    }
    .cruise_content_top_right {
      padding-top: 10px;
    }
  }
  .cruise_content_middel_wrapper {
    display: inherit;
  }
}
@media (max-width: 767px) {
  .cruise_content_bottom_wrapper {
    display: inherit;
    padding-top: 13px;
  }
}
@media (max-width: 992px) {
  .cruise_item_inner_content {
    padding: 15px 20px 22px 23px;
  }
}
